# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Logs
*.log

# VSCode/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
**/mongodb_data/